@use "../../setting/import" as i;

.p-footer{
    margin-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 83px;
    border-top: 1px solid i.$c-p-footer-border;

    &__wrap{
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        padding-bottom: 81px;
    }

    &__sns,
    &__copy{
        display: flex;

        >:first-child{
            margin-left: 0;
        }
    }

    &__sns--item{
        margin-left: 18px;
    }

    &__copy--item{
        margin-left: 28px;
    }

    @include i.mq(max,768px){
        padding-top: 63px;

        &__wrap{
            flex-direction: column;
            padding-bottom: 61px;
        }

        &__copy{
            padding-top: 34px;
        }
    }
}