@use "../../setting/import" as i;

.p-top-title{
        font-size: 10rem;
        text-align: center;
        line-height: 1.25;
        letter-spacing: 0.03em;
        padding-top: 121px;

        @include i.mq(max,768px){
            font-size: 4.8rem;
            padding-top: 60px;
        }
}