
/* ==========TOP フェードイン========== */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* ==========TOP 下からスライドイン========== */
@keyframes slideIn_b {
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


/* ==========下層ページ用　フェードイン========== */
@keyframes u_slideIn_b {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}