//色設定 ---------------------------------
$color-black: #333333;
$color-white: #ffffff;
$color-liteblue: #9dddda;

//base 色設定 ----------------------------
$c-base-bg: $color-white;
$c-base-text: $color-black;

//l-header 色設定 ------------------------
$c-l-header-bg: $color-white;
$c-l-header-nav: $color-black;
$c-l-header-nav-bg: $color-white;
$c-l-header-btn: $color-black;
$c-l-header-btn-line: $color-liteblue;

//l-footer 色設定 ------------------------
$c-l-footer-bg: $color-black;
$c-l-footer-text: $color-white;

//c-btn 色設定 ---------------------------
$c-btn-bg: $color-black;
$c-btn-text: $color-white;

//c-to-top 色設定 ------------------------
$c-to-top-text: $color-white;

//p-form 色設定 --------------------------
$c-p-form-text: $color-white;
$c-p-form-bg: $color-black;

//p-scroll 色設定 ------------------------
$c-p-scroll: $color-white;

//p-profile 色設定 -----------------------
$c-p-profile-title-line: $color-liteblue;

//p-top-skill 色設定 ---------------------
$c-p-top-skill-bg: $color-liteblue;
$c-p-top-skill-title-line: $color-white;
$c-p-top-skill-subtitle-line: $color-black;

//p-top-works 色設定 ---------------------
$c-p-top-works-title-line: $color-liteblue;
$c-p-top-works-name: $color-white;

//p-top-contact 色設定 -------------------
$c-p-top-contact-bg: $color-liteblue;
$c-p-top-contact-title-line: $color-white;

//p-work-visual 色設定 -------------------
$c-p-work-visual-bg: $color-liteblue;
$c-p-work-visual-text: $color-white;
$c-p-work-visual-basic: $color-black;

//p-work-contents 色設定 -----------------
$c-p-work-contents-bg: $color-liteblue;

//p-work-list 色設定 ---------------------
$c-p-work-list-bg: $color-liteblue;

//p-contact 色設定 -----------------------
$c-p-contact-bg: $color-liteblue;
$c-p-contact-title-line: $color-white;