@use "../../setting/import" as i;

.p-top-news{
  width: 100%;
  margin-top: 80px;
  padding: 0 20px;

  @media screen and (max-width:767px){
    margin-top: 60px;
  }

  &__list{
    max-width: 700px;
    margin: 30px auto;
    border-bottom: 1px solid i.$color-gray01;
  }

  &__btn{
    overflow: hidden;
  }

  &__link{
    transition: all .3s;

    &:hover{
      color: i.$color-white01;
      background-color: i.$color-blue01;
  
      .p-top-news__link-text::before{
        color: i.$color-white01;
      }
    }
  }
}