/* ====================================
お問い合わせ
==================================== */
.c_overview{
    padding-top: 100px;
}

.c_overview p{
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.c_flow{
    padding-top: 50px;
}

.c_flow ul{
    display: flex;
    justify-content: space-evenly;
}

.c_flow ul li{
    border: 1px solid #94ce82;
    border-radius: 100px;
    text-align: center;
    width: 100px;
    line-height: 100px;
}

.c_flow ul li.current{
    background-color: #94ce82;
    color: #fff;
}

.c_form{
    padding-top: 50px;
}

.c_form > div{
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.c_form input,
.c_form textarea{
    width: 100%;
}

form dl:not(:nth-child(2)) dt::after{
    content: '必須';
    font-size: 1.2rem;
    color: #fff;
    background-color: #848484;
    padding: 5px;
}

form dl:nth-child(2) dt::after{
    content: '任意';
    font-size: 1.2rem;
    background-color: #fff;
    padding: 5px;
}

form > div > form > div{
    padding-top: 30px;
    text-align: center;
}

form > div{
    text-align: center;
    margin-top: 30px;
}

form > div button{
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #94ce82;
}


/* check--------------------------- */

.contact_c .c_form dl{
    margin-bottom: 30px;
}

.c_form .btn_wrap{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.c_form .btn{
    width: 200px;
    text-align: center;
    background-color: #94ce82;
    border-radius: 50px;
}

.c_form .btn a{
    display: block;
    color: #fff;
    padding: 10px;
}

.c_form .back{
    width: 70px;
    text-align: center;
    background-color: #848484;
    margin-right: 10px;
}

.c_form .back a{
    display: block;
    color: #fff;
    padding: 10px;
}

.c_form .error{
    color: red;
}

@media screen and (max-width:350px){
    .c_flow ul li{
        width: 70px;
        line-height: 70px;
    }
    
}/* ---------------max-width:350px---------------- */