/* ====================================
講師紹介
==================================== */

/* レッスン概要 */
.t_overview{
    padding-top: 100px;
}
.t_overview .t_wrap{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}


/* 講師 */
.sp{
    display: none;
}
.t_int{
    padding-top: 100px;
}
.t_int > div{
    display: flex;
    justify-content: space-between;
}
.t_int section{
    width: 50%;
}
.t_int .title02{
    border: none;
    font-size: 2.6rem;
    font-weight: normal;
}
.t_int section dl{
    margin-top: 30px;
}
.t_int .t_img{
    width: 40%;
}
.t_int .t_img p img{
    width: 100%;
    height: auto;
}


/* 経歴 */
.t_career{
    margin-top: 50px;
}
.t_career dl:first-child{
    margin-top: 10px;
}
.t_career dl:last-child{
    margin-top: 20px;
}


@media screen and (max-width:700px){
    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
    .t_int section{
        width: 100%;
    }
    .t_int .t_img{
        width: 100%;
        margin-top: 30px;
    }
    .t_int .title02{
        text-align: center;
    }
}/* ---------------max-width:700px---------------- */