@use "../../Setting/import" as i;

.c-breadcrumbs{
  background-color: i.$color-green01;
  padding: 20px;

  &-list{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;

    &-item{
      font-family: i.$font-en;
      letter-spacing: .1rem;
      font-size: 1.4rem;

      &:not(:first-child)::before{
        content: "/";
        margin: 0 10px;
      }
    }
  }
}