//色　変数　---------------------------------
$color-white: #ffffff;
$color-gray-01: #333333;
$color-gray-02: #222222;
$color-gray-03: #F0F0F0;
$color-gray-04: #CECECE;
$color-gray-05: #525252;
$color-gray-06: #272727;
$color-gray-07: #DDDDDD;
$color-black: #000000;

//body 色 変数 -----------------------------
$c-body-font-color: $color-gray-01;
$c-body-bg-color: $color-white;

//l-header 色 -----------------------------
$c-l-header-btn--line: $color-white;
$c-l-header-btn--text: $color-white;
$c-p-nav__item: $color-white;

//l-footer 色 -----------------------------
$c-l-footer-bg: $color-gray-05;
$c-l-footer-text: $color-white;

//c-btn 色 変数 ----------------------------
$c-c-btn-text: $color-white;
$c-c-btn-bg: $color-black;

//c-card 色 変数 ---------------------------
$c-c-card__bg: $color-white;

//c-contents 色 変数 -----------------------
$c-c-contents-title: $color-gray-01;
$c-c-contents-text: $color-gray-01;

//c-contact 色 変数 ------------------------
$c-radio-btn__item-bg: $color-gray-01;
$c-radio-btn__item-text: $color-white;
$c-radio-btn__border: $color-gray-01;

//p-top-visual 色 変数 ---------------------
$c-p-top-visual__bg: $color-gray-02;
$c-p-top-visual__text: $color-white;

//p-top-about 色 変数 ----------------------
$c-p-top-about__bg: $color-gray-03;

//p-work-culture 色 変数 -------------------
$c-p-work-culture__bg: $color-gray-03;

//p-topic 色 変数 --------------------------
$c-p-topic-date: $color-gray-04;
$c-p-topic-title: $color-gray-01;
$c-p-topic-title-border: $color-gray-07;

//p-message 色 変数 ------------------------
$c-p-message-bg: $color-gray-03;

//p-company 色 変数 ------------------------
$c-p-company-border: $color-gray-07;