$color-black: #050507;
$color-gray: #CCCCCC;
$color-white: #ffffff;

//base.scss
$c-base-background: $color-black;
$c-base-font: $color-white;
$c-base-link: $color-white;

//c-contents.scss
$c-c-contents-title-line: $color-gray;

//c-btn.scss
$c-c-btn-border: $color-white;

//p-header.scss
$c-p-header-btn-line: $color-white;
$c-p-header-nav-bg: $color-black;

//p-top-contact.scss
$c-p-top-contact-btn-line: $color-white;

//p-footer.scss
$c-p-footer-border: $color-white;