@use "../../setting/import" as i;

.p-company{

    &__top{
        padding-bottom: 30px;
        border-bottom: 1px solid i.$c-p-company-border;
    }

    &__main{
        max-width: 800px;
        margin-left: auto;
    }

    &__bottom{
        margin-top: 40px;
    }

    &__item{
        display: flex;
        border-bottom: 1px solid i.$c-p-company-border;
        padding: 20px 0;
    }

    &__item--title{
        display: block;
        width: 144px;
        font-weight: bold;
    }

    iframe{
        border: none;
        width: 100%;
        height: 360px;
    }

    @include i.mq(max,768px){
        &__main{
            margin-left: 30px;
        }

        iframe{
            height: 230px;
        }
    }

    @include i.mq(max,540px){
        &__main{
            margin-left: 0;
        }

        iframe{
            height: 470px;
        }
    }
}