@use "../../setting/import" as i;

.p-message{

    &__inner{
        position: relative;
        padding-top: 144px;
    }

    &__img{
        position: absolute;
        top: 0;
        left: 30px;
        width: 36.2%;

        >img{
            width: 100%;
            min-width: 320px;
        }
    }

    &__card{
        z-index: -1;
        background-color: i.$c-p-message-bg;
        width: 770px;
        max-width: 70%;
        margin-left: auto;
        padding-top: 120px;
        padding-bottom: 90px;
    }

    &__card--inner{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 40px;
    }

    @include i.mq(max,768px){
        &__inner{
            padding-top: 131px;
        }

        &__img{
            position: absolute;
            top: 0;
            left: 30px;
        }

        &__card{
            padding-top: 109px;
            padding-bottom: 80px;
        }

        &__card--inner{
            line-height: 1.75;
        }
    }

    @include i.mq(max,540px){
        &__img{
            left: 0;
        }

        &__card{
            padding-top: 126px;
            width: 100%;
            max-width: none;
            margin-left: 0;
        }

        &__card--inner{
            padding: 0 28px;
        }
    }

    @include i.mq(max,375px){
        &__img{
            width: 90.666%;

            >img{
                min-width: 0;
            }
        }
    }
}