@use "../../setting/import" as i;

.p-nav{
    opacity: 0;
    visibility: hidden;
    width: 36%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -36%;
    background-color: rgba(34, 34, 34, .6);
    z-index: 1;
    transition: .5s;

    a{
        color: i.$c-p-nav__item;
        display: block;
    }

    &__inner{
        padding-top: 180px;
        width: 122px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &__logo{
        margin-bottom: 40px;
    }

    &__list{
        >:last-child{
            margin-bottom: 0;
        }
    }

    &__item{
        margin-bottom: 30px;
        font-family: i.$f-p-nav__item;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.068em;
    }

    &__mask{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(34, 34, 34, .6);
        z-index: -1;
    }

    @include i.mq(max,375px){
        width: 50%;
        right: -50%;

        &__inner{
            padding-top: 120px;

        }
    }
}