@use "../../setting/import" as i;

.p-top-about{
    position: relative;

    &__inner{
        background-image: url(../img/top-about-img@2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 110px;
        padding-bottom: 110px;
        padding-left: 0;
        padding-right: 0;
    }

    &__card{
        max-width: 590px;
        box-sizing: border-box;
        background-color: i.$c-c-card__bg;
        padding: 50px 30px;
        margin-left: 50px;
        display: inline-block;
    }

    &__text{
        font-family: i.$f-p-top-about__text;
    }

    &::after{
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: i.$c-p-top-about__bg;
        z-index: -1;
    }

    @include i.mq(max,1100px){
        &__inner{
            margin: 0;
        }
    }

    @include i.mq(max,768px){
        padding-top: 80px;

        &__inner{
            background-size: cover;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 4%;
            padding-right: 4%;
        }

        &__card{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 30px;
        }
    }
}