@use "../../setting/import" as i;

.p-vision{

    &__card{
        padding-left: 20.565%;
    }

    @include i.mq(max,768px){
        &__card{
            padding-left: 16.949%;
        }

        &__text{
            font-size: 1.4rem;
        }
    }

    @include i.mq(max,540px){
        &__card{
            padding-left: 0;
        }
    }

    @include i.mq(max,375px){

        &__top{
            margin-bottom: 37px;
        }

        &__title{
            font-size: 3.2rem;
        }

        &__text--large{
            letter-spacing: 0;
        }
    }
}