@use "../setting/import" as i;

.l-footer{
    background-color: i.$c-l-footer-bg;
    margin-top: 120px;

    &__text{
        color: i.$c-l-footer-text;
        font-family: i.$f-l-footer-text;
        font-size: 1rem;
        line-height: 50px;
        text-align: center;
    }

    @include i.mq(max,768px){
        margin-top: 80px;
    }
}