@use "../setting/import" as i;

.l-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;

    &__inner{
        padding-left: 4%;
        padding-right: 4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
    }

    &__logo{
        a{
            display: block;
        }
    }

    &__logo--img{
        img{
            transition: .5s;
        }
    }

    &__btn{
        position: fixed;
        right: 4%;
        width: 61px;
        height: 12px;
        display: flex;
        justify-content: space-between;
        z-index: 1000;
        transition: .5s;
    }

    &__btn--line{
        width: 22px;
        height: 100%;

        &::before,
        span,
        &::after{
            content: '';
            display: block;
            width: 22px;
            height: 2px;
            position: absolute;
            left: 0;
            background-color: i.$c-l-header-btn--line;
            border-radius: 2px;
            transition: .5s;
        }

        &::before{
            top: 0;
        }

        span{
            top: 5px;
        }

        &::after{
            top: 10px;
        }
    }

    &__btn--text{
        display: block;
        color: i.$c-l-header-btn--text;
        font-family: i.$f-l-header-btn;
        font-size: 1rem;
        font-weight: bold;
        line-height: 12px;
    }

    @include i.mq(max,768px){
        &__logo{
            a{
                width: 189px;
            }

            img{
                width: 100%;
            }
        }

    }

    @include i.mq(max,375px){
        &__inner{
            height: 61px;
        }
    }
}