@use "../../setting/import" as i;

.p-footer{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 83px;
    border-top: 1px solid i.$c-p-footer-border;

    &__wrap{
        display: flex;
        justify-content: space-between;
        padding-top: 34px;
        padding-bottom: 81px;
    }

    &__sns,
    &__copy{
        >:first-child{
            margin-left: 0;
        }
    }

    &__sns--item{
        margin-left: 18px;
        display: inline-block;
        position: relative;

        a{
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: i.$c-p-footer-border;
                transition: .5s cubic-bezier(0.23, 1, 0.320, 1);
            }

            &:hover{
                &::after{
                    width: 100%;
                }
            }
        }
    }

    &__copy--item{
        margin-left: 28px;
    }

    @include i.mq(max,768px){
        padding-top: 63px;

        &__wrap{
            flex-direction: column;
            padding-bottom: 61px;
        }

        &__copy{
            padding-top: 34px;
        }
    }
}