@use "../../Setting/import" as i;

.p-about-overview{
  padding: 100px 0 0;
  overflow: hidden;

  @include i.mq(sp){
    padding: 50px 0 0;
  }

  &-inner{
    position: relative;
  }

  &-figure{
    &-inner{
      max-width: 1040px;
      height: 580px;
      margin: 0;
      overflow: visible;
      z-index: 0;
      margin-right: 12%;

      @include i.mq(tab){
        margin-right: 20px;
      }

      @include i.mq(sp){
        height: 100%;
        margin-right: 0;
      }
    }

    &-item{
      &::before{
        content: "";
        display: block;
        padding-bottom: 50%;
      }
    }

    &-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-right-radius: 60px;
      border-bottom-right-radius: 60px;

      @include i.mq(sp){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &-pagination{
      bottom: -40px !important;

      .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
  
        &.swiper-pagination-bullet-active{
          background-color: i.$color-purple01;
        }
      }
    }
  }

  &-circle{
    position: absolute;
    top: -140px;
    right: -120px;
    z-index: 1;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @include i.mq(tab){
      display: none;
    }

    &-inner{
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      animation: rotateAnim 12s linear infinite;
    }

    &-text{
      font-size: 4rem;
      font-family: "Cardo", serif;
      color: i.$color-purple01;

      .text{
        position: absolute;
        inset: 0;
        font-weight: 700;
      }
    }
  }

  &-content{
    background: i.$color-white01;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    position: relative;
    margin: -200px 0 0 62%;
    padding: 90px;

    @media screen and (max-width:1600px){
      padding: 6%;
    }

    @include i.mq(tab){
      margin: 60px 0 0 20px;
    }

    @include i.mq(sp){
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    &-text{
      text-align: center;
    }
  }
}