@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

img,
iframe {
  vertical-align: top;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.js-btn-trigger.active > .l-header__btn--line::before {
  -webkit-transform: translateY(5px) rotate(30deg);
          transform: translateY(5px) rotate(30deg);
}
.js-btn-trigger.active > .l-header__btn--line > span {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.js-btn-trigger.active > .l-header__btn--line::after {
  -webkit-transform: translateY(-5px) rotate(-30deg);
          transform: translateY(-5px) rotate(-30deg);
}
.js-btn-trigger.active > .p-nav {
  opacity: 1;
  visibility: visible;
  right: 0;
}
@media screen and (max-width: 375px) {
  .js-btn-trigger.active > .p-nav {
    right: 0;
  }
}

.js-bg-trigger-1.b-active .l-header__logo--img img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.js-bg-trigger-2.b-active {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.js-bg-trigger-2.b-active.color {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #333333;
  background-color: #ffffff;
  font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
}
.l-header__inner {
  padding-left: 4%;
  padding-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}
.l-header__logo a {
  display: block;
}
.l-header__logo--img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.l-header__btn {
  position: fixed;
  right: 4%;
  width: 61px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.l-header__btn--line {
  width: 22px;
  height: 100%;
}
.l-header__btn--line::before,
.l-header__btn--line span, .l-header__btn--line::after {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.l-header__btn--line::before {
  top: 0;
}
.l-header__btn--line span {
  top: 5px;
}
.l-header__btn--line::after {
  top: 10px;
}
.l-header__btn--text {
  display: block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 12px;
}
@media screen and (max-width: 768px) {
  .l-header__logo a {
    width: 189px;
  }
  .l-header__logo img {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .l-header__inner {
    height: 61px;
  }
}

.l-footer {
  background-color: #525252;
  margin-top: 120px;
}
.l-footer__text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .l-footer {
    margin-top: 80px;
  }
}

.c-btn {
  width: 160px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.015em;
  background-color: #000000;
  text-align: center;
}
.c-btn > a {
  display: block;
  color: #ffffff;
}

.c-contents {
  color: #333333;
  padding-top: 120px;
}
.c-contents__inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}
.c-contents__top {
  margin-bottom: 30px;
}
.c-contents__bottom {
  margin-top: 30px;
}
.c-contents__title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.068em;
  line-height: 1.21875;
}
.c-contents__text {
  line-height: 2;
}
.c-contents__text--large {
  letter-spacing: 0.05em;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .c-contents {
    padding-top: 80px;
  }
}
@media screen and (max-width: 375px) {
  .c-contents__inner {
    padding: 0 15px;
  }
  .c-contents__title {
    font-size: 2.8rem;
    line-height: 1.21428;
  }
}

.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-flex__box2 {
  width: 47.272%;
}
@media screen and (max-width: 768px) {
  .c-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-flex > :first-child {
    margin-top: 0;
  }
  .c-flex__box2 {
    width: 520px;
    max-width: 100%;
    margin-top: 80px;
  }
}
@media screen and (max-width: 375px) {
  .c-flex__box2 {
    margin-top: 40px;
  }
}

.c-visual {
  width: 100vw;
  height: 51.555vh;
  min-height: 464px;
  position: relative;
}
.c-visual__bg--img {
  display: block;
  width: 76.388%;
  height: 83.405%;
  min-height: 387px;
  background-image: url(../img/about-heading-img@2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.c-visual::after {
  content: "";
  display: block;
  width: 54.166%;
  height: 51.555vh;
  min-height: 464px;
  background-color: #222222;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.c-visual__text {
  z-index: 1;
  position: absolute;
  top: 33.62%;
  right: 11.805%;
  color: #ffffff;
}
.c-visual__sub {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 0.85;
  letter-spacing: 0.005em;
}
.c-visual__sub--en {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 0.85;
}
.c-visual__main {
  font-family: "Montserrat", sans-serif;
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.19444;
  letter-spacing: 0.063em;
  display: block;
}
@media screen and (max-width: 768px) {
  .c-visual {
    height: 60.058vh;
    min-height: 615px;
  }
  .c-visual__bg--img {
    width: 76.432%;
    height: 86.016%;
    min-height: 529px;
  }
  .c-visual::after {
    width: 52.864%;
    height: 60.058vh;
    min-height: 615px;
  }
  .c-visual__text {
    top: 35.772%;
    right: 12.76%;
  }
  .c-visual__sub {
    font-size: 1.6rem;
    line-height: 0.5625;
  }
  .c-visual__sub--en {
    font-size: 1.6rem;
    line-height: 0.5625;
  }
  .c-visual__main {
    font-size: 5.2rem;
  }
}
@media screen and (max-width: 375px) {
  .c-visual {
    height: 67.316vh;
    min-height: 449px;
  }
  .c-visual__bg--img {
    width: 76.533%;
    height: 86.191%;
    min-height: 387px;
  }
  .c-visual::after {
    width: 52.8%;
    height: 67.316vh;
    min-height: 449px;
  }
  .c-visual__text {
    top: 33.184%;
    right: 7.733%;
  }
  .c-visual__sub {
    letter-spacing: 0;
  }
  .c-visual__main {
    letter-spacing: 0;
  }
}

.c-contact {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}
.c-contact__top {
  margin-top: 120px;
}
.c-contact__main {
  margin-top: 55px;
}
.c-contact__form > :first-child {
  margin-top: 0;
}
.c-contact__item {
  margin-top: 45px;
}
.c-contact__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  letter-spacing: 0.004em;
}
.c-contact__title::after {
  content: "必須";
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #333333;
  padding: 3px 5px;
  margin-left: 10px;
}
.c-contact__radio-btn {
  margin-top: 20px;
}
.c-contact__radio-btn--item {
  margin-right: 50px;
}
.c-contact__input--radio {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.c-contact__text {
  margin-top: 12px;
}
.c-contact__input--text {
  width: 100%;
  line-height: 2;
  font-size: 1.6rem;
}
.c-contact__policy {
  margin-top: 40px;
}
.c-contact__policy--title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.004em;
  font-weight: bold;
}
.c-contact__policy--wrap {
  width: 100%;
  height: 252px;
  border: 1px solid #333333;
}
.c-contact__policy--text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  overflow: scroll;
  height: 252px;
}
.c-contact__policy--check {
  margin-top: 40px;
  text-align: center;
}
.c-contact__input--check {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.c-contact__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
@media screen and (max-width: 540px) {
  .c-contact {
    padding: 0 15px;
  }
  .c-contact__top {
    margin-top: 80px;
  }
  .c-contact__radio-btn--item {
    display: block;
    margin-right: 0;
    margin-top: 15px;
  }
  .c-contact__radio-btn--item {
    margin-right: 50px;
  }
}

.p-nav {
  opacity: 0;
  visibility: hidden;
  width: 36%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -36%;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.p-nav a {
  color: #ffffff;
  display: block;
}
.p-nav__inner {
  padding-top: 180px;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.p-nav__logo {
  margin-bottom: 40px;
}
.p-nav__list > :last-child {
  margin-bottom: 0;
}
.p-nav__item {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.068em;
}
.p-nav__mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: -1;
}
@media screen and (max-width: 375px) {
  .p-nav {
    width: 50%;
    right: -50%;
  }
  .p-nav__inner {
    padding-top: 120px;
  }
}

.p-top-about {
  position: relative;
}
.p-top-about__inner {
  background-image: url(../img/top-about-img@2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 0;
  padding-right: 0;
}
.p-top-about__card {
  max-width: 590px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  padding: 50px 30px;
  margin-left: 50px;
  display: inline-block;
}
.p-top-about__text {
  font-family: "Noto Sans JP", sans-serif;
}
.p-top-about::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F0F0F0;
  z-index: -1;
}
@media screen and (max-width: 1100px) {
  .p-top-about__inner {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .p-top-about {
    padding-top: 80px;
  }
  .p-top-about__inner {
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 4%;
    padding-right: 4%;
  }
  .p-top-about__card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px;
  }
}

.p-top-contact {
  background-color: #F0F0F0;
  padding-top: 60px;
  padding-bottom: 120px;
}
.p-top-contact__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-top-contact__table {
  width: 40%;
}
.p-top-contact__img {
  width: 52.727%;
}
.p-top-contact__img > img {
  width: 100%;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .p-top-contact {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .p-top-contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .p-top-contact__table {
    width: 520px;
    height: auto;
    max-width: 100%;
    display: block;
  }
  .p-top-contact__img {
    width: 520px;
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
  }
}
@media screen and (max-width: 375px) {
  .p-top-contact {
    padding-bottom: 40px;
  }
  .p-top-contact__img {
    margin-top: 0;
  }
}

.p-top-visual {
  width: 100%;
  height: 100vh;
}
.p-top-visual__bg {
  width: 100%;
  height: 100%;
}
.p-top-visual__bg--img {
  display: block;
  width: 76.388%;
  height: 86.486%;
  background-image: url(../img/top-visual-img@2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.p-top-visual__bg--black {
  display: block;
  width: 54%;
  height: 100%;
  background-color: #222222;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.p-top-visual__text {
  z-index: 1;
  position: absolute;
  top: 161px;
  right: 194px;
  color: #ffffff;
}
.p-top-visual__sub {
  font-size: 2rem;
  font-weight: bold;
  line-height: 0.85;
}
.p-top-visual__sub--en {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 0.85;
}
.p-top-visual__main {
  font-family: "Montserrat", sans-serif;
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.19444;
  display: block;
}
@media screen and (max-width: 768px) {
  .p-top-visual__text {
    top: 333px;
    right: 80px;
  }
  .p-top-visual__sub {
    font-size: 1.6rem;
    line-height: 0.5625;
    letter-spacing: 0.063em;
  }
  .p-top-visual__sub--en {
    font-size: 1.6rem;
    line-height: 0.5625;
  }
  .p-top-visual__main {
    font-size: 5.6rem;
    line-height: 0.9464;
    letter-spacing: 0.063em;
  }
}
@media screen and (max-width: 375px) {
  .p-top-visual__text {
    top: 178px;
    right: 20px;
  }
}

.p-topic {
  padding: 60px 0;
}
.p-topic__date {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #CECECE;
}
.p-topic__title {
  border-bottom: 1px solid #DDDDDD;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 13px;
  padding-bottom: 12px;
}
.p-topic__title > a {
  color: #333333;
}
.p-topic__main {
  margin-top: 32px;
}
.p-topic__main > :first-child {
  margin-top: 0;
}
.p-topic__news {
  max-width: 700px;
  margin-left: 400px;
  margin-top: 32px;
}
.p-topic__btn {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .p-topic {
    padding: 40px 0;
  }
  .p-topic__news {
    max-width: 700px;
    margin-left: 0;
  }
  .p-topic__btn {
    margin-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .p-topic__news {
    margin-top: 22px;
  }
  .p-topic__title {
    margin-top: 11px;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }
}

.p-work-culture {
  background-color: #F0F0F0;
  padding-top: 80px;
  padding-bottom: 60px;
}
.p-work-culture__figure {
  width: 100%;
}
.p-work-culture__figure > img {
  width: 100%;
}
.p-work-culture__figcation {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .p-work-culture {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 375px) {
  .p-work-culture {
    padding-top: 40px;
  }
}

.p-top-footer {
  margin: 0;
}

.p-vision__card {
  padding-left: 20.565%;
}
@media screen and (max-width: 768px) {
  .p-vision__card {
    padding-left: 16.949%;
  }
  .p-vision__text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 540px) {
  .p-vision__card {
    padding-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .p-vision__top {
    margin-bottom: 37px;
  }
  .p-vision__title {
    font-size: 3.2rem;
  }
  .p-vision__text--large {
    letter-spacing: 0;
  }
}

.p-company__top {
  padding-bottom: 30px;
  border-bottom: 1px solid #DDDDDD;
}
.p-company__main {
  max-width: 800px;
  margin-left: auto;
}
.p-company__bottom {
  margin-top: 40px;
}
.p-company__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0;
}
.p-company__item--title {
  display: block;
  width: 144px;
  font-weight: bold;
}
.p-company iframe {
  border: none;
  width: 100%;
  height: 360px;
}
@media screen and (max-width: 768px) {
  .p-company__main {
    margin-left: 30px;
  }
  .p-company iframe {
    height: 230px;
  }
}
@media screen and (max-width: 540px) {
  .p-company__main {
    margin-left: 0;
  }
  .p-company iframe {
    height: 470px;
  }
}

.p-message__inner {
  position: relative;
  padding-top: 144px;
}
.p-message__img {
  position: absolute;
  top: 0;
  left: 30px;
  width: 36.2%;
}
.p-message__img > img {
  width: 100%;
  min-width: 320px;
}
.p-message__card {
  z-index: -1;
  background-color: #F0F0F0;
  width: 770px;
  max-width: 70%;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 90px;
}
.p-message__card--inner {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .p-message__inner {
    padding-top: 131px;
  }
  .p-message__img {
    position: absolute;
    top: 0;
    left: 30px;
  }
  .p-message__card {
    padding-top: 109px;
    padding-bottom: 80px;
  }
  .p-message__card--inner {
    line-height: 1.75;
  }
}
@media screen and (max-width: 540px) {
  .p-message__img {
    left: 0;
  }
  .p-message__card {
    padding-top: 126px;
    width: 100%;
    max-width: none;
    margin-left: 0;
  }
  .p-message__card--inner {
    padding: 0 28px;
  }
}
@media screen and (max-width: 375px) {
  .p-message__img {
    width: 90.666%;
  }
  .p-message__img > img {
    min-width: 0;
  }
}

.p-visual__contact--img {
  background-image: url(../img/contact-heading-img@2x.jpg);
}
.p-visual__contact--text {
  top: 33.62%;
  right: 10.416%;
}
@media screen and (max-width: 768px) {
  .p-visual__contact--text {
    top: 21.463%;
    right: 6.51%;
  }
}
@media screen and (max-width: 375px) {
  .p-visual__contact {
    height: 47.65vh;
    min-height: 365px;
  }
  .p-visual__contact::after {
    height: 47.65vh;
    min-height: 365px;
  }
  .p-visual__contact--img {
    width: 76.533%;
    height: 73.972%;
    min-height: 270px;
  }
  .p-visual__contact--text {
    top: 35.342%;
    right: 5.6%;
  }
}

.u-inline-block {
  display: inline-block;
}

.u-content-none::after {
  content: none;
}
/*# sourceMappingURL=style.css.map */