@use "../../setting/import" as i;

.c-flex{
    display: flex;
    justify-content: space-between;

    &__box2{
        width: 47.272%;
    }

    @include i.mq(max,768px){
        flex-direction: column;
        >:first-child{
            margin-top: 0;
        }

        &__box2{
            width: 520px;
            max-width: 100%;
            margin-top: 80px;
        }
    }

    @include i.mq(max,375px){
        &__box2{
            margin-top: 40px;
        }
    }
}