@use "../../setting/import" as i;

.p-footer{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4%;

    @include i.mq(max,768px){
        margin-top: 80px;
        position: relative;

        &::before{
            content: '';
            display: block;
            position: absolute;
            top: -20px;
            left: 0;
            width: 100vw;
            height: 100%;
            background-image: url(../img/sp_footer_wave@2x.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        &__wrap{
            padding-top: 50px;
        }

        &__logo{
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
        }

        &__sns{
            padding-top: 30px;
            display: flex;
            justify-content: center;

            >:first-child{
                margin-left: 0;
            }
        }

        &__sns--item{
            width: 100px;
            margin-left: 10px;

            a{
                width: 100%;
                text-align: center;
            }
        }

        &__address{
            
        }
    }
}