@use "../../setting/import" as i;

.p-top-visual{
    width: 100%;
    height: 100vh;

    &__bg{
        width: 100%;
        height: 100%;
    }

    &__bg--img{
        display: block;
        width: 76.388%;
        height: 86.486%;
        background-image: url(../img/top-visual-img@2x.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__bg--black{
        display: block;
        width: 54%;
        height: 100%;
        background-color: i.$c-p-top-visual__bg;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
    }

    &__text{
        z-index: 1;
        position: absolute;
        top: 161px;
        right: 194px;
        color: i.$c-p-top-visual__text;
    }

    &__sub{
        font-size: 2rem;
        font-weight: bold;
        line-height: 0.85;
    }

    &__sub--en{
        font-family: i.$f-p-top-visual__text;
        font-size: 2rem;
        line-height: 0.85;
    }

    &__main{
        font-family: i.$f-p-top-visual__text;
        font-size: 7.2rem;
        font-weight: bold;
        line-height: 1.19444;
        display: block;
    }

    @include i.mq(max,768px){
        &__text{
            top: 333px;
            right: 80px;
        }

        &__sub{
            font-size: 1.6rem;
            line-height: 0.5625;
            letter-spacing: 0.063em;
        }
    
        &__sub--en{
            font-size: 1.6rem;
            line-height: 0.5625;
        }

        &__main{
            font-size: 5.6rem;
            line-height: 0.9464;
            letter-spacing: 0.063em;
        }
    }

    @include i.mq(max,375px){
        &__text{
            top: 178px;
            right: 20px;
        }
    }
}