@use "../../setting/import" as i;

.p-topic{
    padding: 60px 0;

    &__date{
        font-family: i.$f-p-topic-date;
        font-size: 1rem;
        color: i.$c-p-topic-date;
    }

    &__title{
        border-bottom: 1px solid i.$c-p-topic-title-border;
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 13px;
        padding-bottom: 12px;

        >a{
            color: i.$c-p-topic-title;
        }
    }

    &__main{
        margin-top: 32px;
        >:first-child{
            margin-top: 0;
        }
    }

    &__news{
        max-width: 700px;
        margin-left: 400px;
        margin-top: 32px;
    }

    &__btn{
        margin-left: auto;
    }

    @include i.mq(max,768px){
        padding: 40px 0;

        &__news{
            max-width: 700px;
            margin-left: 0;
        }

        &__btn{
            margin-left: 0;
        }
    }

    @include i.mq(max,375px){
        &__news{
            margin-top: 22px;
        }

        &__title{
            margin-top: 11px;
            padding-bottom: 10px;
            font-size: 1.2rem;
        }
    }
}