@use "../../setting/import" as i;

.p-top-contact{
    background-color: i.$c-p-work-culture__bg;
    padding-top: 60px;
    padding-bottom: 120px;

    &__inner{
        align-items: center;
    }

    &__table{
        width: 40%;
    }

    &__img{
        width: 52.727%;

        >img{
            width: 100%;
            vertical-align: bottom;
        }
    }

    @include i.mq(max,768px){
        padding-top: 40px;
        padding-bottom: 80px;

        &__inner{
            flex-direction: column-reverse;
            align-items: normal;
        }

        &__table{
            width: 520px;
            height: auto;
            max-width: 100%;
            display: block;
        }

        &__img{
            width: 520px;
            max-width: 100%;
            margin-bottom: 30px;
            margin-top: 0;
        }
    }

    @include i.mq(max,375px){
        padding-bottom: 40px;

        &__img{
            margin-top: 0;
        }
    }
}