@use "../../setting/import" as i;

.p-visual{

    &__contact--img{
        background-image: url(../img/contact-heading-img@2x.jpg);
    }

    &__contact--text{
        top: 33.620%;
        right: 10.416%;
    }

    @include i.mq(max,768px){
        &__contact--text{
            top: 21.463%;
            right: 6.510%;
        }
    }

    @include i.mq(max,375px){
        &__contact{
            height: 47.650vh;
            min-height: 365px;

            &::after{
                height: 47.650vh;
                min-height: 365px;
            }
        }

        &__contact--img{
            width: 76.533%;
            height: 73.972%;
            min-height: 270px;
        }

        &__contact--text{
            top: 35.342%;
            right: 5.6%;
        }
    }
}