@use "../../setting/import" as i;

.p-work-culture{
    background-color: i.$c-p-work-culture__bg;
    padding-top: 80px;
    padding-bottom: 60px;

    &__figure{
        width: 100%;

        >img{
            width: 100%;
        }
    }

    &__figcation{
        margin-top: 30px;
    }

    @include i.mq(max,768px){
        padding-top: 60px;
        padding-bottom: 40px;
    }

    @include i.mq(max,375px){
        padding-top: 40px;
    }
}