$color-white01: #ffffff;
$color-white02: #f0f6fa;
$color-gray01: #ccc;
$color-gray02: #707070;
$color-black01: #323232;
$color-black02: #000000;
$color-blue01: #367eb3;
$color-blue02: #53a3de;
$color-blue03: #4f9fcb;
$color-yellow01: #f2c849;
$color-red01: #B70000;
