@use "../../setting/import" as import;

.p-work-visual{
    padding-bottom: 0;

    &__top{
        opacity: 1;
    }

    &__main{
        opacity: 1;
    }

    &__bottom{
        display: flex;
        justify-content: space-evenly;
    }

    &__title{
        font-family: import.$f-p-work-visual-title;

        &::after{
            background-image: repeating-linear-gradient(-45deg, import.$c-p-profile-title-line, import.$c-p-profile-title-line 1px, transparent 2px, transparent 5px);
        }
    }

    &__btn{
        background-color: import.$c-p-work-visual-bg;
        border: 1px solid import.$c-p-work-visual-bg;

        a{
            &::after{
                content: '\e89e';
            }
        }

        &:hover{
            a{
                color: import.$c-p-work-visual-bg;

                &::after{
                    color: import.$c-p-work-visual-bg;
                }
            }
        }
    }

    &__btn--site{
        span{
            color: import.$c-p-work-visual-basic;
            font-size: 1.4rem;
            font-weight: bold;
            display: block;
            line-height: 1.5;
            position: absolute;
            bottom: -60%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            white-space: nowrap;
        }
    }

    &__btn--github{
        span{
            font-size: 1.4rem;
            font-weight: bold;
            display: block;
            line-height: 1;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @include import.mq(max,768px){
        &__bottom{
            flex-direction: column;
        }

        &__btn--site{
            margin-bottom: 20px;
        }
    }
}