/* ====================================
全体共通設定　＆　汎用クラス
==================================== */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    line-height: 2;
    color: #848484;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: #efede5;
}
a{
    color: #848484;
}
a:hover{
    opacity: .5;
}
.inner{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.l_b{
    background-color: #00B900;
    border-radius: 10px;
    margin-right: 10px;
}
.l_b a{
    display: block;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}
.text{
    display: inline-block;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1000px){
    .inner{
        padding-left: 5%;
        padding-right: 5%;
    }
}/* ---------------max-width:1000px---------------- */